:root {
  --main-bg: hsl(30, 38%, 92%);
  --sec-bg: hsl(0, 0%, 100%);
  --main-text: hsl(228, 12%, 48%);
  --sec-text: hsl(158, 36%, 37%);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

section {
  width: 600px;
  height: 500px;
  /* border: 1px solid red; */
  border-radius: 2%;
  display: flex;
}

div {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
}

img {
  height: inherit;
  display: block;
  max-width: 100%;
  border-radius: 2%;
}

.mobile {
  display: none;
}

.text {
  background-color: var(--sec-bg);
  padding: 0 2rem;
}

.text p {
  font-size: 1.1rem;
}

.text p:first-child {
  padding: 1rem 0;
}

.text h2 {
  font-size: 35px;
  color: #000;
}

article span:first-child {
  color: var(--sec-text);
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
}

article span:last-child {
  text-decoration: line-through;
  margin-left: 1.5rem;
}

article {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

button {
  text-decoration: none;
  background-color: var(--sec-text);
  border: none;
  border-radius: 1rem;
  color: whitesmoke;
  width: 100%;
  height: 3rem;
}
button:hover {
  background-color: darkslategrey;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

svg {
  margin-right: 1rem;
}

@media only screen and (max-width: 650px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  section {
    width: 95vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div {
    width: 100%;
  }

  article {
    padding-bottom: 1rem;
  }
  .text {
    padding: 0 1rem;
  }
  .text p:first-child {
    padding: 0;
  }
}
